* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* COLOR FOR THE PAGE */
:root {
    --color: #222;
    --white: #fff;
    --color-white-theme: #333;
    --bg-card: #222;
    --color-black: #333;
    --backgrund: #111;
}

body {
    background: var(--backgrund);
}

h1 {
    color: var(--white)
}

p {
    color: var(--white)
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.messages {
    background: var(--color-black);
    color: var(--white);
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.card_message {
    padding: 20px;
    border-bottom: 1px solid var(--white);
    width: 100%;
}

.card_message:first-child {
    border-bottom: none;
}

.info {
    font-size: 16px;
    font-weight: 700;
}

.info > a {
    color: white !important;
}

.title {
    font-size: 20px;
    color: var(--white);
}

.widget {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 26px;
    width: 250px;
    background: var(--bg-card);
    color: var(--white);
    border: 1px solid var(--backgrund);
    margin-top: 10px;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
    max-width: 100%;
}

button:hover {
    transform: scale(0.95);
}

.info_point {
    color: lightgreen;
}

.output {
    font-size: 16px;
    color: var(--white);
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
}

.filter_messages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    flex-direction: column;
    gap: 10px;
}

#email_messages_filter {
    padding: 20px;
    border-radius: 26px;
    border: 1px solid var(--backgrund);
    background: var(--color-white-theme);
    color: var(--white);
    font-size: 16px;
}

input[type = "checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 26px;
}

input[type = "checkbox"]:checked {
    background: lightgreen;
}

.category {
    padding: 15px;
    border-radius: 26px;
    font-size: 16px;
    background: var(--bg-card);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cat {
    padding: 15px;
    border-radius: 26px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.4s;
}

.cat:hover {
    background: var(--color-white-theme);
}

.cat.active {
    background: var(--color-white-theme);
}

.delete_message_button {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
}

.filter_all_mex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.filter_messages {
    max-height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}