* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* COLOR FOR THE PAGE */
:root {
    --color: #222;
    --white: #fff;
    --color-white-theme: #333;
    --bg-card: #222;
    --color-black: #333;
    --backgrund: #111;
}

body {
    background: var(--backgrund);
}

h1 {
    color: var(--white)
}

p {
    color: var(--white)
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.messages {
    background: var(--color-black);
    color: var(--white);
    border-radius: 26px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.card_message {
    padding: 20px;
    border-bottom: 1px solid var(--white);
    width: 100%;
}

.card_message:first-child {
    border-bottom: none;
}

.info {
    font-size: 16px;
    font-weight: 700;
}

.info > a {
    color: white !important;
}

.title {
    font-size: 20px;
    color: var(--white);
}

.widget {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 26px;
    width: 250px;
    background: var(--bg-card);
    color: var(--white);
    border: 1px solid var(--backgrund);
    margin-top: 10px;
    font-weight: 700;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    transform: scale(0.95);
}

.info_point {
    color: lightgreen;
}

.output {
    font-size: 16px;
    color: var(--white);
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
}