* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* COLOR FOR THE PAGE */
:root {
    --color: #222;
    --white: #fff;
    --color-white-theme: #333;
    --bg-card: #222;
    --color-black: #333;
    --backgrund: #111;
}

body {
    background: var(--backgrund);
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 20px;
    font-size: 16px;
    border-radius: 26px;
    outline: none;
    border: 1px solid var(--bg-card);
    color: var(--backgrund);
    width: 250px;
    max-width: 250px;
    transition: 0.4s;
}

h1 {
    color: var(--white);
}

.negative {
    color: red;
}

.positive {
    color: lightgreen;
}

button {
    padding: 20px;
    font-size: 16px;
    border-radius: 26px;
    outline: none;
    border: 1px solid var(--bg-card);
    color: var(--white);
    background: var(--bg-card);
    width: 250px;
    max-width: 250px;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    transform: scale(0.95);
}