<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>ADMIN-PANNEL</title>
        <link rel = "stylesheet" href = "../static/style/admin_pasw.css">
    </head>
    <body>
        <h1>Admin pannel</h1>
        <input type = "password" id = "password" placeholder="Insert password">
        <button id = "send_password">Access</button>
        <div id = "output"></div>

        <script src = "../static/script/admin_pasw.js"></script>
    </body>
</html>