<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ADMIN - PANNEL</title>
        <link rel = "stylesheet" href = "../static/style/admin.css">
    </head>
    <body>
        <div class = "container">
            <div class = "welcome">
                <h1>Welcome {{name}}</h1>
                <p>Here you can see visualition of page and messages from the form</p>
            </div>
            <div class = "widget">
                <div class = "visual">
                    <h1 id = "visual_p">Visual page: {{visual}}</h1><button id = "update_visual">Update</button>
                </div>
            </div>
            <div class = "messages" id = "messages">
                {%for message in messages%}
                    <div class = "card_message">
                        <div class = "title">MESSAGE</div>
                        <br>
                        <div class = "info">{{message.nome}}</div>
                        <div class = "info">{{message.cognome}}</div>
                        <div class = "info"><a href="mailto:{{message.email}}">{{message.email}}</a></div>
                        <div class = "info">{{message.messaggio}}</div>
                    </div>
                {%endfor%}
            </div>
        </div>
        
        <script src = "../static/script/admin.js"></script>
    </body>
</html>